<div class="card p-3 m-2">
    <div class="img-wrapper">
        <img src="/assets/images/01.jpg" alt="" class="card-img-top">
        <ul>
            <li><button class="btn btn-warning icon"> <i class="fa fa-pencil"></i></button> </li>
            <li><button class="btn btn-primary icon"><i class="far fa-address-card"></i> </button>
            </li>
        </ul>
    </div>


    <div class="card-body">
        <h1>{{property.name}}</h1>
        <h2>{{property.type}}</h2>
        <h3>{{property.price}}</h3>
    </div>
</div>